.gpt4-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
}

.gpt4-footer__heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.gpt4-footer__heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.gpt4-footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #FFF;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
}

.gpt4-footer__btn p {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
  color: #FFF;
  word-spacing: 2px;
}

.gpt4-footer__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;
  text-align: left;
}

.gpt4-footer__links div {
  width: 250px;
  margin: 1rem;
}

.gpt4-footer__links-logo {
  display: flex;
  flex-direction: column;
}

.gpt4-footer__links-logo img {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
}

.gpt4-footer__links-logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
}

.gpt4-footer__links-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.gpt4-footer__links-div h4 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  margin-bottom: 1rem;
}

.gpt4-footer__links-div p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
  margin: 0.5rem 0;
  cursor: pointer;
}

.gpt4-footer__copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.gpt4-footer__copyright p {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}

@media screen and (max-width: 850px) {
  .gpt4-footer__heading h1 {
    font-size: 44px;
    line-height: 50px;

  }
}

@media screen and (max-width: 550px) {
  .gpt4-footer__heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .gpt4-footer__links-div {
    margin: 1rem 0;
  }

  .gpt4-footer__btn p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .gpt4-footer__heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}